.buttonContainer {
    --width-button: 400px;
    width: var(--width-button);
    max-width: 100%;
}
.button {
    background-color: var(--library-orange);
    color: white;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    height: 3.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
@media (hover: hover) {
    .button:hover {
        padding: 20px, 30px;
        background-color: var(--darker-blue);
        color: white;
    }
}

@media (max-width: 440px) {
    .buttonContainer {
        width: calc(100vw - var(--width-main-padding) * 2);
    }
}