.button {
    background-color: var(--library-orange);
    color: white;
    font-weight: 600;
    border: none;
    height: 3.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}
@media (hover: hover) {
    .button:hover {
        padding: 20px, 30px;
        background-color: var(--darker-blue);
        color: white;
    }
}