.cartPageSection {
    width: 1320px; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;   
    gap: 20px;
    flex: 1 1 auto;
}

.cartPageSection ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartBox {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 50px;
}

.checkout {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}

.checkout h2 {
    font-size: 1.25rem;
}

.checkout h1 {
    font-size: 2rem;
    color: var(--darker-blue);
}

.checkoutButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#clearCartButton {
    background-color: white;
    color: var(--library-blue);
    border: 1px solid var(--library-blue);
}
@media (hover: hover) {
    #clearCartButton:hover {
        background-color: var(--darker-blue);
        color: white;
        border: none;
    }
}
@media (hover: none) {
    #clearCartButton:active {
        background-color: var(--darker-blue);
        color: white;
        border: none;
    }
}

.items {
    width: 70%;
}

@media (max-width: 871px) {
    .cartBox {
        flex-direction: column;
        align-items: center;
    }

    .checkout {
        width: 100%;
        align-items: center;
    }

    .items {
        width: 100%;
        align-items: center;
    }
}